01-Phantombuster Lead Collector.json
{
  "name": "01-Phantombuster Lead Collector",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "a7184577-6822-4936-b50e-532c3008acc0",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getOutput",
        "agentId": "1228171820312666",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.phantombuster",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "22463c19-22b4-4c8e-bd37-69605b369ca5",
      "name": "Linkedin leads import",
      "credentials": {
        "phantombusterApi": {
          "id": "0tzPv3RwKoH0i5Qe",
          "name": "Phantombuster account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = items[0]?.json;\nlet records = [];\n\n// Normalize PhantomBuster output into an array\nif (Array.isArray(raw)) {\n  records = raw;\n} else if (Array.isArray(raw?.data)) {\n  records = raw.data;\n} else if (Array.isArray(raw?.results)) {\n  records = raw.results;\n} else if (items.length > 1) {\n  records = items.map(item => item.json);\n} else if (raw && typeof raw === 'object') {\n  records = [raw];\n}\n\n// Deduplicate inside the same incoming batch\nconst seen = new Set();\n\nfunction makeLeadId(record, index) {\n  const base =\n    record.linkedinProfileUrl ||\n    record.profileUrl ||\n    record.vmid ||\n    `${record.fullName || 'lead'}-${record.company || 'company'}-${index}`;\n\n  const cleaned = String(base)\n    .toLowerCase()\n    .replace(/https?:\\/\\//g, '')\n    .replace(/[^a-z0-9]/g, '')\n    .slice(-12);\n\n  return `LEAD-${Date.now()}-${cleaned}`;\n}\n\nreturn records\n  .map((record, index) => {\n    const linkedinUrl =\n      record.linkedinProfileUrl?.trim() ||\n      record.profileUrl?.trim() ||\n      '';\n\n    const dedupeKey = linkedinUrl.toLowerCase();\n\n    return {\n      ...record,\n      linkedinUrl,\n      dedupeKey,\n      lead_id: makeLeadId(record, index),\n    };\n  })\n  .filter(record => record.linkedinUrl && !seen.has(record.dedupeKey) && seen.add(record.dedupeKey))\n  .map(record => ({\n    json: {\n      lead_id: record.lead_id,\n      full_name: record.fullName || '',\n      firstName: record.firstName || '',\n      lastName: record.lastName || '',\n      linkedin_url: record.linkedinUrl,\n      company: record.company || '',\n      job_title: record.jobTitle || '',\n      location: record.location || '',\n      industry: record.industry || '',\n      headline: record.headline || '',\n      source: 'LinkedIn',\n      processedAt: new Date().toISOString(),\n    }\n  }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "d78fc2e7-4b68-4f3f-9b79-f7f6b53e4624",
      "name": "splitarray & lead_id"
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appCobtpQMWc4FgFC",
          "mode": "list",
          "cachedResultName": "Marketing Agency CRM",
          "cachedResultUrl": "https://airtable.com/appCobtpQMWc4FgFC"
        },
        "table": {
          "__rl": true,
          "value": "tblFuTqsupwYsEzUS",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appCobtpQMWc4FgFC/tblFuTqsupwYsEzUS"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "linkedin_url": "={{ $json.linkedin_url }}",
            "lead_id": "={{ $json.lead_id }}",
            "full_name": "={{ $json.full_name }}",
            "company": "={{ $json.company }}",
            "job_title": "={{ $json.job_title }}",
            "industry": "={{ $json.industry }}",
            "location": "={{ $json.location }}",
            "source": "={{ $json.source.toLowerCase() }}",
            "date & time": "={{ $json.processedAt }}",
            "icp_score": 0,
            "llm_score": 0,
            "final_score": 0
          },
          "matchingColumns": [
            "linkedin_url"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "job_title",
              "displayName": "job_title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "industry",
              "displayName": "industry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "linkedin_url",
              "displayName": "linkedin_url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "linkedin",
                  "value": "linkedin"
                },
                {
                  "name": "instagram",
                  "value": "instagram"
                },
                {
                  "name": "google_maps",
                  "value": "google_maps"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "new",
                  "value": "new"
                },
                {
                  "name": "hot",
                  "value": "hot"
                },
                {
                  "name": "warm",
                  "value": "warm"
                },
                {
                  "name": "cold",
                  "value": "cold"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "icp_score",
              "displayName": "icp_score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "llm_score",
              "displayName": "llm_score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "final_score",
              "displayName": "final_score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "qual_summary",
              "displayName": "qual_summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "outreach_angle",
              "displayName": "outreach_angle",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "chat_transcript",
              "displayName": "chat_transcript",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "date & time",
              "displayName": "date & time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        624,
        0
      ],
      "id": "cfd16a75-f3fe-427a-aa7f-7bf02792fce5",
      "name": "Create or update a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "hrJeof08mqBrKfVO",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Linkedin leads import",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linkedin leads import": {
      "main": [
        [
          {
            "node": "splitarray & lead_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "splitarray & lead_id": {
      "main": [
        [
          {
            "node": "Create or update a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b976420d-9572-48e5-b3a3-8efda2bf8db4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7481286cd80ed07607f45651ccf8a21ce0a424f97d57f473a242793aeafbabe4"
  },
  "id": "x1Y2jGKQmijJXeBH",
  "tags": []
}