02 - ICP Scorer + Groq Qualifier.json
{
  "name": "02 - ICP Scorer + Groq Qualifier",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -400,
        -48
      ],
      "id": "cad2c03f-9e47-477a-882c-4a3624d4704d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appCobtpQMWc4FgFC",
          "mode": "list",
          "cachedResultName": "Marketing Agency CRM",
          "cachedResultUrl": "https://airtable.com/appCobtpQMWc4FgFC"
        },
        "table": {
          "__rl": true,
          "value": "tblFuTqsupwYsEzUS",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appCobtpQMWc4FgFC/tblFuTqsupwYsEzUS"
        },
        "filterByFormula": "{icp_score} = BLANK()",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -192,
        -48
      ],
      "id": "c65ab753-c842-43a5-b689-915a6a641251",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "hrJeof08mqBrKfVO",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const lead = item.json;\n  let score = 0;\n\n  const industry = (lead.industry || '').toLowerCase().trim();\n  const job_title = (lead.job_title || '').toLowerCase().trim();\n  const location = (lead.location || '').toLowerCase().trim();\n  const company = (lead.company || '').toLowerCase().trim();\n\n  // 1. Industry scoring\n  if (\n    industry.includes('insurance') ||\n    industry.includes('retail') ||\n    industry.includes('banking') ||\n    industry.includes('edtech') ||\n    industry.includes('education') ||\n    industry.includes('transportation')\n  ) {\n    score += 25;\n  } else {\n    score += 15;\n  }\n\n  // 2. Job title scoring\n  if (\n    job_title.includes('assistant manager') ||\n    job_title.includes('deputy manager') ||\n    job_title.includes('associate manager') ||\n    job_title.includes('hr manager') ||\n    job_title.includes('human resources manager')\n  ) {\n    score += 15;\n  } else if (\n    job_title.includes('senior manager') ||\n    job_title.includes('sales manager') ||\n    job_title === 'manager' ||\n    job_title.startsWith('manager ') ||\n    job_title.endsWith(' manager') ||\n    job_title.includes(' manager ')\n  ) {\n    score += 25;\n  } else {\n    score += 5;\n  }\n\n  // 3. Location scoring\n  if (\n    location.includes('ranchi') ||\n    location.includes('jamshedpur') ||\n    location.includes('dhanbad')\n  ) {\n    score += 25;\n  } else if (\n    location.includes('bokaro') ||\n    location.includes('hazaribagh') ||\n    location.includes('deoghar')\n  ) {\n    score += 15;\n  } else {\n    score += 5;\n  }\n\n  // 4. Company bonus\n  if (\n    company.includes('logistics') ||\n    company.includes('cargo') ||\n    company.includes('transport') ||\n    company.includes('carriers')\n  ) {\n    score += 10;\n  }\n\n  lead.icp_score = score;\n\n  return {\n    json: lead\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        -48
      ],
      "id": "033fcdd2-a42a-4aa9-be28-7770618e2783",
      "name": "ICP_SCORER"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a lead qualification assistant.\n\nYour task is to evaluate exactly one lead at a time using the provided lead data and the provided ICP score.\n\nQualification guidance:\n\n1. Industry relevance\n- Insurance, Retail, Banking, EdTech, Education, Transportation = highly relevant\n- Other industries = less relevant\n\n2. Job title relevance\n- Manager, Senior Manager, Sales Manager = highly relevant\n- Assistant Manager, Deputy Manager, Associate Manager, HR Manager = moderately relevant\n- Other job titles = lower relevance\n\n3. Location relevance\n- Ranchi, Jamshedpur, Dhanbad = highly relevant\n- Bokaro, Hazaribagh, Deoghar = moderately relevant\n- Other locations = lower relevance\n\n4. Company relevance\n- If company name contains words like logistics, cargo, transport, or carriers, treat it as extra relevant\n\nScoring rules:\n- You are given an icp_score. Keep it exactly as provided.\n- Assign an llm_score from 0 to 100 based on overall qualification.\n- Calculate final_score = icp_score + llm_score.\n- Based on final_score, classify the lead:\n  - Hot: final_score >= 160\n  - Warm: final_score >= 110 and final_score < 160\n  - Cold: final_score < 110\n\nRules:\n- Use sales judgment, not only rigid keyword matching.\n- Industry, job title, company relevance, and location should all influence the score.\n- Do not change or rewrite the provided lead_id.\n- Do not change the provided icp_score.\n- final_score must be a number, not a formula string.\n- Keep qual_summary short, practical, and specific.\n- Keep outreach_angle short and personalized.\n- Return only valid raw JSON.\n- Do not include markdown.\n- Do not include any explanation before or after the JSON.\n\nReturn exactly this structure:\n{\n  \"lead_id\": \"exact input lead_id\",\n  \"icp_score\": 0,\n  \"llm_score\": 0,\n  \"final_score\": 0,\n  \"lead_status\": \"Hot or Warm or Cold\",\n  \"qual_summary\": \"short qualification summary\",\n  \"outreach_angle\": \"short personalized outreach message\"\n}\n\nEvaluate this lead and return valid JSON only.\n\nlead_id: {{ $json.lead_id }}\nfull_name: {{ $json.full_name }}\ncompany: {{ $json.company }}\njob_title: {{ $json.job_title }}\nindustry: {{ $json.industry }}\nlocation: {{ $json.location }}\nlinkedin_url: {{ $json.linkedin_url }}\nicp_score: {{ $json.icp_score }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "You are a precise B2B lead qualification assistant. Always return valid JSON only. Do not add markdown, explanations, or extra text outside JSON."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        576,
        -96
      ],
      "id": "73cc6741-5b05-4a87-a477-57e6f81cf421",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        432,
        112
      ],
      "id": "5373024d-70b6-4642-8ce1-ba5a322d3489",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "rO06mjjlTkKqn9pX",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        224,
        -48
      ],
      "id": "7884cbf5-a884-482d-8780-79435814fdff",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        928,
        64
      ],
      "id": "24b7ac25-d7c8-4dc2-92e9-2c586272a308",
      "placeholder": true
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1088,
        -256
      ],
      "id": "9ddb81ce-10ff-48b3-8687-177f019b40c4",
      "name": "Wait",
      "webhookId": "acb8da09-553f-4069-8e40-dfe6ef114db8"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const parsed = JSON.parse(item.json.text);\n  return {\n    json: parsed\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        -160
      ],
      "id": "3795f0b1-c1eb-48c2-be12-34685433e029",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appCobtpQMWc4FgFC",
          "mode": "list",
          "cachedResultName": "Marketing Agency CRM",
          "cachedResultUrl": "https://airtable.com/appCobtpQMWc4FgFC"
        },
        "table": {
          "__rl": true,
          "value": "tblFuTqsupwYsEzUS",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appCobtpQMWc4FgFC/tblFuTqsupwYsEzUS"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "icp_score": "={{ $json.icp_score }}",
            "llm_score": "={{ $json.llm_score }}",
            "final_score": "={{ $json.final_score }}",
            "lead_id": "={{ $json.lead_id }}",
            "qual_summary": "={{ $json.qual_summary }}",
            "outreach_angle": "={{ $json.outreach_angle }}",
            "status": "={{ String($json.lead_status).trim().toLowerCase().replace(/`/g, '') }}"
          },
          "matchingColumns": [
            "lead_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "job_title",
              "displayName": "job_title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "industry",
              "displayName": "industry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "linkedin_url",
              "displayName": "linkedin_url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "linkedin",
                  "value": "linkedin"
                },
                {
                  "name": "instagram",
                  "value": "instagram"
                },
                {
                  "name": "google_maps",
                  "value": "google_maps"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "hot",
                  "value": "hot"
                },
                {
                  "name": "warm",
                  "value": "warm"
                },
                {
                  "name": "cold",
                  "value": "cold"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "icp_score",
              "displayName": "icp_score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "llm_score",
              "displayName": "llm_score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "final_score",
              "displayName": "final_score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "qual_summary",
              "displayName": "qual_summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "outreach_angle",
              "displayName": "outreach_angle",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "chat_transcript",
              "displayName": "chat_transcript",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "date & time",
              "displayName": "date & time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1264,
        -96
      ],
      "id": "2179faed-1401-4ded-bdc6-44f4e3c14f2a",
      "name": "Create or update a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "hrJeof08mqBrKfVO",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "ICP_SCORER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ICP_SCORER": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Create or update a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create or update a record": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "58c1a2f9-cf4b-4f41-aaa5-807cdd99d635",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7481286cd80ed07607f45651ccf8a21ce0a424f97d57f473a242793aeafbabe4"
  },
  "id": "8TJoDlVFE1EY2vzX",
  "tags": []
}