04 - CHATBOT APP.json
{
  "name": "04 - CHATBOT APP",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nMy name is Chat. I'm a Bot made for \"Lead marketing Agency\".\nsend \"hii\" to continue chatting.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -208,
        176
      ],
      "id": "3c73f2a3-f747-407d-9871-302a0c8ca121",
      "name": "When chat message received",
      "webhookId": "56a4118c-5629-47bb-9afc-4ffff108337c"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are a lead generation assistant.\n\nFlow:\n1. Ask: Do you want to generate leads for your organization?\n2. If yes → ask current lead count per day\n3. Then say: we can increase leads by 5x using AI automation\n4. Ask for contact number,if user provides a 10 digit number End the chat politely\n\nBe conversational and short.\n",
          "returnIntermediateSteps": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        160,
        176
      ],
      "id": "1bd87706-8efa-44a4-860d-e885cb3c8b31",
      "name": "AI Agent",
      "alwaysOutputData": false,
      "retryOnFail": false
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        160,
        400
      ],
      "id": "e0587590-e446-4f08-8a9c-733600e8e209",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -32,
        192
      ],
      "id": "5711ceee-a067-4ec9-ba9c-04a228125089",
      "name": "Wait",
      "webhookId": "026da560-4b38-4ba2-a669-04eb3cab59cb"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        32,
        384
      ],
      "id": "f3e8b9ad-42ab-4d3c-83bb-893bba670deb",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "rO06mjjlTkKqn9pX",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appCobtpQMWc4FgFC",
          "mode": "list",
          "cachedResultName": "Marketing Agency CRM",
          "cachedResultUrl": "https://airtable.com/appCobtpQMWc4FgFC"
        },
        "table": {
          "__rl": true,
          "value": "tblKugH5OdbJCp4mL",
          "mode": "list",
          "cachedResultName": "Table 2",
          "cachedResultUrl": "https://airtable.com/appCobtpQMWc4FgFC/tblKugH5OdbJCp4mL"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "rrudra3404@gmail.com",
            "contact number": "={{ $('Wait').item.json.chatInput }}",
            "icp_score": 0,
            "llm_score": 0,
            "final_score": 0
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "job_title",
              "displayName": "job_title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "linkedin",
                  "value": "linkedin"
                },
                {
                  "name": "instagram",
                  "value": "instagram"
                },
                {
                  "name": "google_maps",
                  "value": "google_maps"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status 2",
              "displayName": "status 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "hot",
                  "value": "hot"
                },
                {
                  "name": "warm",
                  "value": "warm"
                },
                {
                  "name": "cold",
                  "value": "cold"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "icp_score",
              "displayName": "icp_score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "llm_score",
              "displayName": "llm_score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "final_score",
              "displayName": "final_score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "qual_summary",
              "displayName": "qual_summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "outreach_angle",
              "displayName": "outreach_angle",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "date & time",
              "displayName": "date & time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "contact number",
              "displayName": "contact number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        320,
        384
      ],
      "id": "ec30e5ff-b121-489a-a15e-82342be236c5",
      "name": "Update record in Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "hrJeof08mqBrKfVO",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Update record in Airtable": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9cbc1b45-29c6-419e-ba51-20ec26980b38",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7481286cd80ed07607f45651ccf8a21ce0a424f97d57f473a242793aeafbabe4"
  },
  "id": "Iks8qjBBHwRak15J",
  "tags": []
}